<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>BeautyApp: Запись</title>
</head>
<body>
<form>
    <p style="text-align: center">
        Дата посещения:
        <input type="date" id="choiceDate" onselect="getPossibleTime()">
    </p>
    <p style="text-align: center">
        Время:
        <select id="choiceTime" required>
        </select>
    </p>
    <p style="text-align: center">
        Мастер:
        <select id="choiceMaster" required onchange="masterSelected()">
        </select>
    </p>
    <p style="text-align: center">
        Услуги:
        <select multiple id="choiceService" required onchange="serviceSelected()">
        </select>
    </p>
    <p style="text-align: center">
        Ваше имя:
        <input type="text" id="name" name="name" required>
    </p>
    <p style="text-align: center">
        Ваш номер телефона:
        <input type="text" id="phone" name="phone" required>
    </p>
    <p style="text-align: center">
        <input value="Отмена" type="button" onclick="location.href='./index.html'"/>
        <input value="Записаться" type="submit"/>
    </p>
</form>

<script src="./scripts/Entry.js"></script>
</body>
</html>